@bruise:#703835;
.history-patch{background:#d3d0c8;border:3px outset white;padding:17px;color:@bruise;width:290px;max-width:100%;font:13px SimSun,serif;box-shadow:2px 2px 0 #666;.indent{margin-left:18px}button{border:2px outset #eee;background:#c8c7c5;padding:6px;color:#151515}}
